__pycache__/
*.py[cod]

# Visual Studio Code
.vscode/

# Txt files (commands)

# Archive files
*.zip
*.tar
*.gz
*.rar

# Image files
*.png
*.jpg
*.tiff
*.bmp
.ipynb_checkpoints/Larva_chemotaxis-checkpoint.ipynb